body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.topimg {
    width: 500px;
    height: 200px;
}

.s1 {
    background-color: #1f2937;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 400px;
    gap: 48px;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style-type: none;
}

ul {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    padding: 0;
    margin-bottom: 64px;
}

.header,
.maintext {
    color: #F9FAF8;
}

.maintext {
    font-size: 48px;
    font-weight: 900;
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin: 12px 0px 64px
}

.s1left,
.s1right {
    display: flex;
    flex-direction: column;
    width: 500px;
    /* margin: 32px; */
}

.sign-up1 {
    color: #F9FAF8;
    border-radius: 8px;
    display: flex;
    align-self: flex-start;
    padding: 6px 24px;
}

.sign-up1,
.action {
    background-color: #3882F6;
    border: 0;
}

.subtext {
    margin: 12px 0;
}

.subtext,
li {
    font-size: 18px;
    color: #E5E7EB;
}

.two {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 400px;
}

.info {
    /* justify-content: center; */
}

.s2{
    max-width: 1048px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

.s2title {
    margin: 48px 0px 96px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.infoimg {
    width: 100px;
    height: 100px;
}