body {
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.topimg {
    width: 500px;
    height: 200px;
}

.s1 {
    background-color: #1f2937;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 400px;
    gap: 48px;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style-type: none;
}

ul {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    padding: 0;
    margin-bottom: 64px;
}

.header,
.maintext {
    color: #F9FAF8;
}

.maintext {
    font-size: 48px;
    font-weight: 900;
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin: 12px 0px 64px
}

.s1left,
.s1right {
    display: flex;
    flex-direction: column;
    width: 500px;
    flex-shrink: 0;
    /* margin: 32px; */
}

.sign-up1,
.sign-up2 {
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 8px;
}

.sign-up1 {
    border: 0;
    display: flex;
    align-self: flex-start;
    padding: 6px 24px;
}

.sign-up2 {
    border-color: #F9FAF8;
    padding: 0px 24px;
    height: 30px;
}

.sign-up1,
.action,
.sign-up2 {
    background-color: #3882F6;
}

.subtext {
    margin: 12px 0;
}

.subtext,
li {
    font-size: 18px;
    color: #E5E7EB;
}

.two {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 400px;
}

.three {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 400px;
    background-color: #E5E7EB;
}

.four {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    text-align: center;
    align-items: center;
    height: 300px;
}

.infotext {
    color: #5b5c5e;
}

.s2{
    max-width: 1048px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

.s2title {
    margin: 40px 0px 40px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.infoimg {
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.infoimg,
.infotext {
    width: 150px;
    height: 150px;
}

.quote,
.quote2 {
    display: flex;
    width: 800px;
    color: #1f2937;
}

.quote {
    /* font-weight: 100; */
    font-size: 36px;
    font-style: italic;
    text-align: left;
}

.quote2 {
    font-weight: bolder;
    justify-content: flex-end;
}

.fourcontainer {
    display: flex;
    align-items: center;
    background-color: #3882F6;
    width: 800px;
    padding: 48px 96px;
    border-radius: 10px;
    justify-content: space-between;
}

.actionheader,
.actiontext {
    color: #F9FAF8;
}

.actionheader {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

